<nav aria-label="Page navigation example" *ngIf="pageList$">
  <ul class="pagination">
      <li 
        class="page-item" 
        (click)="!isFirstPage() && goToFirstPage()"
        [class.disabled]="isFirstPage()"
      >
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li 
      class="page-item" 
      (click)="!isFirstPage() && goToPreviousPage()"
      [class.disabled]="isFirstPage()"
    >
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
      </a>
    </li>
    <li 
      class="page-item"
      *ngFor="let pageNumber of pageList$ | async"
      [class.active]="currentPage$.value === pageNumber"
    >
      <a 
        class="page-link" 
        href="#"
        (click)="currentPage$.next(pageNumber)"
      >{{pageNumber}}</a>
    </li>
    <li 
      class="page-item" 
      (click)="!isLastPage() && goToNextPage()"
      [class.disabled]="isLastPage()"
    >
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
      </a>
    </li>
    <li 
      class="page-item" 
      (click)="!isLastPage() && goToLastPage()"
      [class.disabled]="isLastPage()"
    >
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>