<div class="wrapper">
  <div class="content-main">
      <div class="col-xs-5">
          <h1>Star Wars <small>Encyclopedia</small></h1><hr/>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> People</a></li>
          </ul>
          <br/>
          <input type="text" class="form-control" placeholder="Start typing for search...">
          <br/>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Created at</th>
              </tr>
            </thead>
            <tbody>
              <tr app-person *ngFor="let person of people" [person]="person"></tr>
            </tbody>
          </table>
          <app-spinner></app-spinner>
      </div>
  </div>
</div>